<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
    <body>
        <div class="people" th:each="person: ${people}">
            <div class="person">
                <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getCustomerName()}">Customer full name</a>
            </div>
        </div>
        <form th:method="GET" th:action="@{/people/new}">
            <input type="submit" value="Добавить">
        </form>
        <form th:method="GET" th:action="@{/books}">
            <input type="submit" value="Книги">
        </form>
    </body>
</html>